@import './button.css';

body {
    background-color: #34E951;
    font-family: Arial, Helvetica, sans-serif;
}

.player {
    margin-block-start: 100px;
}

.player video {
    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.wrapper {
    max-inline-size: 800px;
    margin: auto;
    position: relative;
}

.player-title {
    color: white;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 24px;
}

.player-actions {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.player-progress {
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 10px;
}

.player-progress input {
    flex: 1;
}

.player-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .3s opacity;
}

.player:hover .player-overlay {
    opacity: 1;
}

.player-time-info {
    color: white;
    position: absolute;
    inset-block-end: 25px;
    inset-inline-start: 15px;
}

.player-speaker-actions {
    position: absolute;
    inset-block-end: 25px;
    inset-inline-end: 15px;
}

.custom-range {
    -webkit-appearance: none;
    background-color: #2f2e32;
    border-radius: 10px;
    height: 5px;
    outline: none;
    border: none;
}

.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: white;
    border-radius: 50%;
}